In [9]:
import pandas as pd
import numpy as np
import sklearn
import seaborn
import pickle

In [10]:
dfPhenotypes = pd.read_csv("sc2_Phase2_CN_Phenotype.tsv",sep="\t")
dfPhenotypes = dfPhenotypes.replace(r'^\s*$', np.nan, regex=True)
dfPhenotypes = dfPhenotypes.replace(r'^IV', 4, regex=True)
dfPhenotypes = dfPhenotypes.replace(r'^III', 3, regex=True)
dfPhenotypes = dfPhenotypes.replace(r'^II', 2, regex=True)
dfPhenotypes = dfPhenotypes.replace(r'^I', 1, regex=True)
dfPhenotypes['WHO_GRADING'].replace(np.nan, 0, regex=True,inplace=True)
dfPhenotypes.head()

     PATIENTID     SEX   RACE  WHO_GRADING  CANCER_TYPE
0  patient_427     NaN    NaN          0.0          GBM
1  patient_370     NaN    NaN          0.0          GBM
2  patient_119    MALE  WHITE          3.0  ASTROCYTOMA
3  patient_158  FEMALE  WHITE          0.0      UNKNOWN
4  patient_276  FEMALE  WHITE          3.0  ASTROCYTOMA

In [11]:
dfFeatures = pd.read_csv("sc2_Phase2_CN_FeatureMatrix.tsv",sep="\t")
dfFeatures.head()

,PATIENTID,1p36.33,1p36.32,1p36.31,1p36.23,1p36.22,1p36.21,1p36.13,1p36.12,1p36.11,...,22q11.22,22q11.23,22q12.1,22q12.2,22q12.3,22q13.1,22q13.2,22q13.31,22q13.32,22q13.33
0,patient_427,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
1,patient_370,0.000000,0.000000,0.000000,0.000000,1.595533,0.000000,0.000000,0.0,0.621727,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
2,patient_119,0.657586,1.495979,1.385605,1.699601,0.756555,2.627633,1.207371,0.0,1.227136,...,0.740904,1.065425,0.908043,2.02012,1.839099,1.101582,1.093675,0.885572,0.634195,0.0
3,patient_158,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
4,patient_276,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0

In [12]:
dfMerged = pd.merge(dfPhenotypes,dfFeatures,how="inner",on="PATIENTID")
dfMerged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46 entries, 0 to 45
Columns: 816 entries, PATIENTID to 22q13.33
dtypes: float64(781), int64(31), object(4)
memory usage: 292.9+ KB

In [13]:
featuresFile = "sc2_phase1_features.txt"
with open(featuresFile) as f:
    featuresList = f.read().split(',')
print(featuresList)

['7p14.1', '7q11.21', '7q36.2', '7q21.3', '7p11.2', '8q23.2', '7q22.1', '10p15.3', '5p15.31', '10q26.13', '8q11.21', '7q31.1', '7p13', '7q34', '7q11.22', '4p16.1', '13q14.11', '7q36.1', '8q23.1', '8q13.1', '7q21.11', '8q21.13', '8q24.13', '7q11.23', '4q35.2', '10q21.3', '4q22.1', '11p15.4', '7q32.1', '7p15.1', '7q36.3', '8q24.21', '5p15.33', '8q23.3', '10q23.1', '8q24.3', '1p31.1', '11q25', '1p36.21', '19q13.41', '6q22.32', '6p21.1', '6q14.1', '8p12', '19q13.42', '11p14.3', '10q23.31', '7q31.32', '7p14.3', '5q15', '10p11.23', '13q21.31', '10q23.33', '1p36.23', '1p34.2', '7q22.2', '7p15.2', '14q32.12', '1p34.3', '6q25.1', '10p12.1', '10q22.2', '13q31.1', '18q23', '6q16.1', '10q26.3', '7q35', '1p36.31', '6q27', '13q34', '7p22.1', '8q11.1', '10q24.32', '1p31.3', '7p14.2', '10q26.2', '10q24.1', '4q24', '1p36.11', '3q29', '19q13.43', '6q21', '13q32.3', '2q14.3', '19q13.12', '19q13.11', '8p21.3', '7q33', '5q33.1', '21q11.1', '5q23.2', '10p15.1', '6q23.2', '1p36.13', '8q22.3', '10p11.21', '21q22.3', '7p15.3', '1p35.3', '7q31.31', '19q13.13', '8q24.22', '4q12', '6p22.1', '11q13.1', '1p13.2', '7q21.12', '7p22.3', '10p12.33', '4q26', '6q25.3', '4p15.2', '13q21.1', '5p15.1', '5q31.3', '1p22.2', '10q11.21', '1p33', '6q23.3', '1p32.3', '5q14.3', '4p13', '1p36.32', '7q21.2', '19q13.2', '21q11.2', '12p12.1', '18q12.1', '1p13.3', '10q11.23', '6q22.31', '13q21.2', '7p21.1', '8q22.1', '1p34.1', '2q37.3', '1q44', '2q36.3', '7q22.3', '22q12.2', '7q31.33', '10q22.1', '10q22.3', '4p15.1', '7p12.3', '4p14', '1p21.3', '9q33.2', '3p21.31', '7q32.2', '1p22.3', '5q35.1', '3q26.32', '6q24.3', '14q12', '15q22.2', '5q21.3', '10p12.2', '13q14.3', '20q13.2', '9q33.3', '11q13.4', '5p14.3', '18q22.1', '1p36.22', '21q22.11', '7p21.3', '13q14.2', '14q24.3', '1p36.12', '3p22.1', '5p15.2', '1p21.2', '13q22.1', '21q21.2', '8q22.2', '1p32.2', '7p22.2', '1p22.1', '10p13', '4q35.1', '4q31.3', '9q31.3', '13q31.3', '10p12.31', '12p12.3', '1p35.1', '14q32.11', '4q13.1', '12p13.33', '1p21.1', '20q13.33', '14q11.2', '7q21.13', '9p21.1', '10q25.2', '4p12', '5q34', '9p21.3', '11p11.2', '1p13.1', '11q21', '11q22.1', '13q21.33', '10p14', '21q21.3', '8q13.3', '7q31.2', '1p31.2', '5q35.2', '8q12.3', '3p25.1', '14q32.33', '10p11.22', '11q14.1', '18p11.21', '22q11.1', '18q21.33', '20p12.1', '3p12.1', '22q13.31', '20q13.13', '19q12', '10q23.32', '10q21.1', '10q24.2', '19q13.31', '11p14.1', '12q24.11', '4q22.3', '2q34', '15q11.2', '22q12.3', '10q24.31', '19p13.3', '10q23.2', '19q13.33', '5p14.1', '2p22.1', '8q21.2', '13q21.32', '13q32.1', '20q13.12', '6p22.3', '10p12.32', '2q12.1', '10q24.33', '8q21.3', '4p16.3', '2p25.3', '10q25.1', '3q21.3', '16q21', '18q12.3', '15q26.3', '2q31.1', '4q28.3', '2q37.2', '20q11.21', '9q34.11', '12q21.1', '7p12.1', '2q37.1', '12q12', '6p12.1', '10q25.3', '19q13.32', '22q12.1', '11p15.1', '3q13.11', '2p14', '7p12.2', '9q22.32', '6q13', '7q11.1', '5q13.2', '5q31.1', '4q22.2', '13q12.11', '18q21.2', '20q13.32', '4p16.2', '1q42.2', '1p12', '8q11.23', '1q25.2', '8p23.3', '13q13.2', '14q32.2', '10q11.22', '1p32.1', '13q12.13', '7q32.3', '19p12', '13q33.3', '18q21.32', '2q31.2', '10q21.2', '1q24.2', '9q21.13', '17q25.3', '15q21.1', '20q11.22', '13q13.3', '6p21.32', '6q16.3', '8q21.12', '20p11.23', '6p21.31', '2p25.1', '14q24.2', '1p11.1', '20q12', '11p15.2', '2q33.2', '9q21.32', '6p12.3', '11q14.3', '22q13.1', '11q24.3', '6q24.1', '4q34.1', '16p13.3', '1q41', '11q12.2', '18q12.2', '9q21.33', '22q11.21', '6q15', '22q11.23', '2q33.1', '13q31.2', '11q13.2', '2q24.2', '4q25', '5q11.2', '3p14.3', '3p13', '11q22.3', '5q14.1', '2p23.3', '2q11.2', '14q23.1', '12p13.31', '9p24.1', '9p22.1', '5p13.2', '21q22.13', '5q12.1', '1q31.1', '1q32.3', '3p23', '6q26', '4q34.3', '15q24.1', '16q22.3', '21q21.1', '4q31.23', '20q13.31', '4p15.32', '1p11.2', '10p11.1', '12p11.21', '3q27.3', '3p22.3', '12q24.33', '3q11.2', '2q35', '2p12', '9q33.1', '8q13.2', '4q23', '5q12.3', '9p13.3', '13q12.3', '12q13.11', '6q12', '6q22.33', '9q34.2', '10p15.2', '3p12.3', '12q13.2', '8p11.23', '13q33.1', '13q14.12', '11q12.3', '16q12.2', '3q26.1', '14q21.2', '18q22.2', '11p12', '15q22.1', '2p24.1', '1q32.1', '2q32.3', '4q28.1', '13q32.2', '8q12.1', '13q12.12', '5p14.2', '8p22', '14q21.3', '11q23.2', '1q21.2', '8p23.2', '3q26.31', '20q11.23', '14q21.1', '11p13', '9p21.2', '12q13.13', '13q22.3', '6p24.1', '17q22', '1q31.3', '15q26.1', '5q32', '20p13', '8q24.23', '3p12.2', '12q24.13', '13q13.1', '3p22.2', '1q43', '12q24.32', '18p11.22', '22q13.2', '14q22.1', '5q11.1', '11q24.1', '1q32.2', '9q22.31', '19p13.2', '8p23.1', '19p13.12', '3q23', '5q23.1', '19p13.11', '8q24.11', '12p13.32', '8p21.2', '13q33.2', '4q13.3', '2q32.1', '5q31.2', '5p12', '1q42.3', '14q13.2', '3q28', '12q23.1', '6p25.2', '13q12.2', '10q26.12', '2p22.3', '9p13.1', '14q32.13', '15q22.31', '9q31.2', '11q14.2', '9q31.1', '12q14.1', '5p13.3', '6p21.2', '5q35.3', '13q11', '9p23', '5q33.3', '14q23.2', '15q25.2', '11q23.1', '10q26.11', '11p15.3', '12q24.22', '12q22', '14q24.1', '14q31.3', '21p11.1', '5q21.1', '9q12', '1q42.13', '6q16.2', '17q25.1', '2q13', '9q11', '12q15', '17q24.3', '18q11.2', '14q32.31', '12p11.22', '12q21.31', '5q22.3', '1q23.1', '2p11.2', '3q27.1', '5p15.32']

In [14]:
x_test = dfMerged[featuresList]

In [15]:
finalFile = "..\..\phase1\sc2_phase1\sc2_phase1_model.sav"
loaded_model = pickle.load(open(finalFile, 'rb'))
predictions = loaded_model.predict(x_test)
print(predictions)

[1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 0 1 1 1 1 1 1 0 1 0 0 1 1 1 0 0 1 1 0 1 1 1
 1 1 1 0 1 1 1 0 1]